<tr>
  <td class="subject-content"><%= link_to subject.name,
    "#", class: "show-subject", data: {id: subject.id} %></td>
  <td class="subject-content"><%= subject.description %></td>
  <td class="subject-content">
    <%= button_tag t("subjects.show"), class: "btn btn-primary show-subject",
      data: {id: subject.id} %>
  </td>
</tr>
<tr class="task-subject" data-task="<%= subject.id %>">
  <%= render "show_task", subject: subject %>
</tr>
