<% provide :title, t("subjects.title") %>
<div class="col-md-10 col-md-offset-1">
  <div class="subjects">
    <h1><%= t "subjects.title" %></h1>
    <h2><%= link_to t("subjects.new"), new_admin_subject_path,
    class: "btn btn-success hvr-grow" %></h2>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= t "subject.name" %></th>
          <th><%= t "subject.description" %></th>
          <th><%= t "subject.tasks" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @subjects %>
        <%= paginate @subjects %>
      </tbody>
    </table>
  </div>
</div>
