<% provide :title, t("devise.registrations.edituser") %>
<h1><%= t "devise.registrations.edituser" %></h1>
<div class="col-md-6 col-md-offset-3">
  <%= form_for resource, as: resource_name,
    url: registration_path(resource_name), html: {method: :put} do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %> 
      <i><%= t "devise.registrations.leave_blank" %></i>
      <% if @minimum_password_length %>
        <em><%= t "devise.registrations.minimum_password_length", 
          minpasslength: @minimum_password_length %></em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off",
        class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", 
        class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> 
      <i><%= t "devise.registrations.need_current_pass" %></i>
      <%= f.password_field :current_password, autocomplete: "off", 
        class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit t("devise.registrations.#{params[:action]}"),
        class: "btn btn-primary" %>
    </div>
  <% end %>
  <p class="center">
    <%= link_to t("back"), :back, class: "btn btn-info back" %>
  </p>
</div>
