<h1><%= t "mail.welcome", name: @user.name %></h1>
<%= t "mail.will_finish", content: @course.name %>
<h4><%= t "mail.description", content: @course.description %></h4>
<%= t "courses.status" %>: 
<%= @course.status %><br>
<%= t "courses.end_date" %>: 
<%= @course.end_date %>
