<% provide :title, @course.name %>
<h1><%= @course.name %></h1>
<div class="row">
  <div class="col-md-5 panel panel-default">
    <div class="text-center">
      <h3><%= t "admin.all_trainee" %></h3>
      <ul class="list-unstyled">
        <% @course.users.each do |user| %>
          <div class="input-group fields">
            <span class="input-group-addon">
              <span><%= link_to user.name, "#" %></span>
            </span>
          </div>
        <% end %>
      </ul>
      <hr/>
    </div>
  </div>
  <div class="col-md-7 panel panel-default">
    <div class="col-md-offset-1 panel-default">
      <h3><%= t "admin.add_user",
        name: @course.name %></h3>
      <hr/>
      <%= form_for @course,
        url: supervisor_course_add_user_courses_path(@course) do |f| %>
        <%= f.collection_check_boxes :user_ids, @users, :id, :name do |b| %>
          <div class="col-md-offset-1 ">
            <%= b.label do %>
              <%= b.check_box + " " + b.text %>
            <% end %>
          </div>
        <% end %>
        <%= f.submit t("admin.users.update"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
