<% provide :title, t("courses.title") %>
<div class="col-md-8 col-md-offset-2" id="user-course">
  <div class="user-course">
    <h1><%= t "admin.course_list" %></h1>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= t "subjects.name" %></th>
          <th><%= t "subjects.description" %></th>
          <th><%= t "courses.trainee" %></th>
          <th><%= t "subjects.status" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @user_courses %>
      </tbody>
    </table>
  </div>
  <h2 class="help-1 help-2"><%= t :user_help2 %>
  <%= image_tag t("image_2"), class: "image-2" %></h2>
</div>
