<tr class="<%= t "courses.#{course.status}" %>">
  <td><%= link_to course.name, supervisor_course_path(course) %></td>
  <td><%= link_to course.description, supervisor_course_path(course) %></td>
  <td><%= course.subjects.size %></td>
  <td>
    <span class="<%= course.status %>"><%= course.status %></span>
  </td>
</tr>
