<% provide :title, t("admin.course_index") %>
<div class="col-md-8 col-md-offset-2">
  <div class="courses" id="supervisor-course">
    <h1><%= t "courses.title" %></h1>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= t "subjects.name" %></th>
            <th><%= t "subjects.description" %></th>
            <th><%= t "courses.subjects" %></th>
            <th><%= t "courses.status" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @courses %>
        </tbody>
      </table>
      <%= paginate @courses %>
    </div>
  </div>
</div>
