<%= form_for [:admin, @course], url: admin_course_assign_trainees_path(@course) do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <h4 class="center"><%= t "admin.users.supervisor" %></h4>
    <% if @supervisor_not_in_courses.any? %>
      <%= f.collection_check_boxes :user_ids, @supervisor_not_in_courses, :id,
        :name do |s| %>
        <div class="checkbox">
          <%= s.check_box %>
          <%= s.label %>
        </div>
      <% end %>
      <%= f.collection_check_boxes :user_ids, @user_courses, :id, :name do |b| %>
        <div class="hidden">
          <%= b.label do %>
            <%= b.check_box + " " + b.text %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit t(:update_profile), class: "btn btn-primary" %>
  </div>
<% end %>
