<%= provide :title, @subject.name %>
<div class="col-xs-6 col-md-6 text-center course-subject">
  <h1><%= @course.name %></h1>
  <h3><%= t "subjects.title" %>: <%= @subject.name %></h3>
  <h4><%= @subject.description %></h4>
</div>
<div class="col-xs-6 col-md-6">
  <h3><%= t "subjects.tasks", count: @subject.tasks.size %></h3>
  <ol>
    <% @subject.tasks.each do |task| %>
      <li>
        <strong><%= task.name %></strong>
      </li>
    <% end %>
  </ol>
</div>
