<%= provide :title, @subject.name %>
<div class="col-xs-7 col-md-7">
  <div class="course-subject">
    <h1><%= t "courses.title" %>: <%= @course.name %></h1>
    <div class="subject">
      <h3><%= t "subjects.title" %>: <%= @subject.name %></h3>
      <h4><%= t "subjects.description" %>: <%= @subject.description %></h4>
      <% if @course.init? %>
        <div>
          <b><%= t "courses.please_start" %></b>
        </div>
        <div>
          <%= link_to t("supervisor.start_course"),
            supervisor_course_path(@course), class: "btn btn-primary submit-btn" %>
        </div>
      <% elsif @course.start? %>
        <%= form_for [:supervisor, @course_subject], method: :patch do |f| %>
          <% if @course_subject.init? %>
            <%= f.hidden_field :status, value: "start" %>
            <%= f.submit t("course_subjects.start"), 
              class: "btn btn-primary submit-btn" %>
          <% elsif @course_subject.start? %>
            <%= f.hidden_field :status, value: "finish" %>
            <%= f.submit t("course_subjects.finish"), class: "btn btn-primary" %>
          <% else @course_subject.finish? %>
            <%= f.submit t("course_subjects.finished submit-btn"), 
              class: "btn btn-danger", disabled: true %>
          <% end %>
        <% end %>
      <% else %>
        <%= t "course_finished" %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-xs-5 col-md-5">
  <div class="course-subject-task">
    <h3><%= t "subjects.tasks", count: @subject.tasks.size %></h3>
    <ol>
      <% @subject.tasks.each do |task| %>
        <li>
          <strong><%= task.name %></strong>
        </li>
      <% end %>
    </ol>
  </div>
</div>
