<div class="row">
  <div class="col-md-4 center">
    <div class="user_info">
      <p>
        <%= @user.name %>
      </p>
      <p>
        <%= t "email" %>
        <%= @user.email %>
      </p>
    </div>
  </div>
  <div class="course col-md-8 center">
    <% @user_courses.each do |user_course| %>
      <% if user_course.course.start? %>
        <h1><%= user_course.course.name %></h1>
        <h4><%= t "courses.description" %>:
          <%= user_course.course.description %></h4>
        <% user_course.user_subjects.each do |user_subject| %>
          <div class="subject">
            <div class="subject_name">
              <%= link_to user_subject.subject.name,
                supervisor_course_subject_path(user_subject.subject) %>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar"
                aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100"
                style="width:<%= user_subject.progress %>%">
              <span><%= user_subject.progress %> %</span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
