<div class="row">
  <div class="col-md-6">
    <div class="user-div">
      <h1><%= t "admin.users.trainee" %></h1>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>
              <%= t "admin.users.name" %>
            </th>
            <th>
              <%= t "admin.users.email" %>
            </th>
            <th>
              <%= t "courses.action" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
          <%= paginate @users %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="user-div">
      <h1><%= t "admin.users.admin" %></h1>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>
              <%= t "admin.users.name" %>
            </th>
            <th>
              <%= t "admin.users.email" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @admins %>
          <%= paginate @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
