<tr class="<%= t "courses.#{course.status}" %>">
  <td><%= link_to course.name,admin_course_path(course) %></td>
  <td><%= link_to course.description, admin_course_path(course) %></td>
  <td>
    <%= course.subjects.size %>
  </td>
  <td><span class="<%= course.status %>"><%= course.status %></span></td>
</tr>
