<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @course], required: true do |f| %>
      <%= render "devise/shared/error_messages", object: @course %>

      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <div class="input-daterange">
        <div class="dn-inline dn-request-search-create">
          <%= f.label :start_date %>
          <%= f.text_field :start_date, required: true, class: "form-control" %>
        </div>

        <div class="dn-inline dn-request-search-create">
          <%= f.label :end_date %>
          <%= f.text_field :end_date, required: true, class: "form-control" %>
        </div>
      </div>

      <h4><%= f.label :subjects %></h4>
      <input type="checkbox" class="checkall checkbox"/>
      <%= f.collection_check_boxes(:subject_ids, @subjects,
        :id, :name) do |s| %>
        <div class="checkbox label-checkbox">
          <%= s.check_box %>
          <%= s.label %>
        </div>
      <% end %>

      <%= f.submit t("admin.create_course"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
