<% provide :title, t("admin.course_index") %>
<div class="col-md-10 col-md-offset-1">
  <div class="courses">
    <h1><%= t "courses.title" %></h1>
    <h2 class="center">
      <%= link_to t("courses.create"), new_admin_course_path,
        class: "btn btn-success hvr-grow" %>
    </h2>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="course-content"><%= t "subjects.name" %></th>
            <th class="course-content"><%= t "subjects.description" %></th>
            <th class="course-content"><%= t "courses.subjects" %></th>
            <th class="course-content"><%= t "subjects.status" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @courses %>
          <%= paginate @courses %>
        </tbody>
      </table>
  </div>
</div>
