<% provide :title, @course.name %>
<h1><%= @course.name %></h1>
<div class="center"><%= @course.description %></div>
<ul class="subjects">
  <% if @course.course_subjects.any? %>
    <ol>
      <% @course.course_subjects.each do |course_subject| %>
        <li>
          <%= course_subject.subject.name %>
        </li>
      <% end %>
    </ol>
  <% end %>
</ul>

<div class="panel panel-default text-center">
  <% if @course.init? %>
    <%= form_for [:admin, @course] do |f| %>
      <%= f.hidden_field :status, value: "start" %>
      <%= f.submit t("admin.start"), class: "btn btn-primary" %>
    <% end %>
  <% elsif @course.start? %>
    <strong><%= t "admin.started" %></strong>
    <%= form_for [:admin, @course] do |f| %>
      <%= f.hidden_field :status, value: "finish" %>
      <%= f.submit t("admin.finish"), class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= link_to t("admin.finished"),admin_courses_path,
      class: "btn btn-danger" %>
  <% end %>
</div>
